body, html, ::after, ::before {
    height: 100vh;
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

#global {
    height: 600px;
    overflow: scroll;
}

#root {
    height: 200vh;
}

.footer {
    position: absolute;
    border: solid 2px black;
    bottom: 0;
    margin-inline: auto;
    margin-bottom: 0.5rem;
    max-width: 90%;
}

.botonprueba {
    margin-top: 10rem;
    min-width: 200px;
    aspect-ratio: 1;
    margin-inline: 3rem;
    color: orange;
    background-color: lightblue;
}

.fotoCardHome {
    max-width: 400px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}


.fotoCardHome > * {
    width: 50%;
    border-radius: 20px;
}

.listaRecetas {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: end;
    padding-top: 2rem;
}
