body, html, ::after, ::before {
    height: 100vh;
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

#global {
    height: 600px;
    overflow: scroll;
}

#root {
    height: 200vh;
}

.footer {
    position: absolute;
    border: solid 2px black;
    bottom: 0;
    margin-inline: auto;
    margin-bottom: 0.5rem;
    max-width: 90%;
}
