.fotoTarjeta {
    max-width: 50%;
    background-color: black;
}

.cardReceta {
    width: 50%;
}

.ingredientes {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.ingredientes > * {
    flex-grow: 1;
}

.ingredientes > :first-child {
    padding-left: 1rem;

}
